<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zero3737.dao.UserInterface">

	<select id="queryUser" resultType="top.zero3737.javabean.User" parameterType="String">
		SELECT * FROM `user` WHERE `user`.username = #{username}
	</select>
	
</mapper>